:root {
  --platinum: #e8e8e8;
  --grün: #69b162;
  --umber: #554640;

  --smaller-text: 1.1em;
  --bigger-text: 1.6em;
  --medium-text: 1.3em;

  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);

  font-family: Lato;
}

:root button,
button:active,
button:focus,
button:visited {
  outline: 0;
  border: none;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

.hover-grey:hover {
  color: #919191 !important;
}

.header {
  background-color: var(--platinum);
  position: fixed; /* Will make the navbar appear when scrolling*/

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 5.5em;
  left: 0px;
  top: 0px;

  z-index: 2;
}

.header-logo {
  height: 100%;
  margin-right: -2vw;
  flex: 0 0 60%;
}

.header-left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-text {
  font-style: normal;
  color: var(--umber);
  flex: 1;
  align-self: center;
}

.header-text a,
.header-text a:hover,
.header-text a:after {
  text-decoration: none;
  color: var(--umber);
  height: 100%;
}

.header-text-upper {
  font-weight: 600;
  font-size: var(--bigger-text);
}

.header-text-lower {
  font-size: var(--smaller-text);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.header-right {
  width: 30%;
  height: 100%;
  right: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vw;
}

.about {
  font-weight: 500;
  font-size: var(--smaller-text);
  color: var(--umber);
  order: 1;
}

.datenschutz {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: var(--smaller-text);
  color: var(--umber);
  order: 2;
}

.quiz-button {
  background: #69b162;
  border: none;
  border-radius: 1.5em;
  letter-spacing: 0.065em;

  height: 2.7em;
  width: 13em;

  font-weight: 500;
  font-size: 1em;
  order: 3;
  color: #ffffff;
}

.quiz-button:hover {
  background: #42703d;
}

.quiz-button:active,
.quiz-button:focus,
.quiz-button:visited {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.gradient-box {
  position: fixed;
  width: 100%;
  margin-top: 4.7em;
  height: 10em;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.box-of-white {
  position: fixed;
  width: 100%;
  margin-top: 5em;
  height: 5em;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5)
  );
}

.search-bar {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 8em;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally*/

  width: 50em;
  height: 3em;

  background: #ffffff;
  border: none;
  box-shadow: 0px 0.1875em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 5em;
}

.search-icon {
  order: 1;
  height: 100%;
  margin-left: 2%;
  background: none;

  color: var(--umber);
}

.search-icon:active,
.search-icon:focus,
.search-icon:visited {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.search-input {
  order: 2;
  height: 100%;
  width: 100%;

  margin-left: 2%;

  border: none;
  background: none;

  font-weight: 500;
  font-size: var(--smaller-text);
  color: var(--umber);
}

.search-input:active,
.search-input:focus,
.search-input:visited {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

#bird-cards {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  z-index: -1;
  margin-top: 14em;
  left: 50%;
  transform: translateX(-50%); /* Center horizontally*/

  width: 50em;

  border-radius: 1.56em;
}

.bird-card {
  background: #c4c4c4;
  box-shadow: 0px 0.1875em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 1.56em;

  width: 15em;
  height: 15em;

  margin-bottom: 2.5em;

  background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.93) 0%,
      rgba(0, 0, 0, 0) 45.87%,
      rgba(255, 255, 255, 0) 45.87%
    ),
    url(../images/birds/Thumbnail/zilpzalp-thumbnail.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.text-outer {
  width: 15em;
  height: 15em;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  pointer-events:none;
}

.card-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: var(--smaller-text);
  color: #ffffff;
}

.bird-card-sound {
  background: rgba(0, 0, 0, 0.33);
  border-radius: 0px 25px;

  height: 3.5em;
  width: 3.5em;

  float: right;
  text-align: center;

  z-index: 11;
}

.sound-icon {
  color: #ffffff;
  height: 100%;
  background: none !important;
  outline: 0 !important;
  border: none;

  z-index: 12;
}

#bird-modal {
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.4);
  z-index: 6;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.bird-modal-content {
  background: #ffffff;
  position: relative;
  width: 42em;
  height: 44em;

  margin: 0 auto auto;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  box-shadow: 0px 0.1875em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 3.125em;
  z-index: 7;
}

.bird-modal-image {
  position: absolute;
  height: 20em;
  left: 0px;
  right: 0px;
  top: 0px;

  border-radius: 3.125em 3.125em 0 0;

  z-index: 8;

  background: url(../images/birds/zilpzalp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#bird-modal-exit {
  height: auto;
  margin-right: 0.6em;
  margin-top: 0.6em;

  font-size: 2.5em !important;

  float: right;
  text-align: center;
  background: none;

  outline: 0;
  border: none;
}

#bird-modal-info {
  height: auto;

  position: absolute;
  bottom: 1em;
  right: 1.2em;

  font-size: 1.7em !important;

  background: none;
  outline: 0;
  border: none;

  z-index: 10;
}

#bird-modal-info-active {
  visibility: hidden;
  position: absolute;
  height: 3.4em;
  left: 1.5em;
  right: 1.5em;
  bottom: 0.79em;

  color: #ffffff;
  line-height: 0.28em;
  padding-left: 0.75em;
  padding-top: -1em;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.bird-modal-text {
  position: absolute;
  width: 5.2em;
  height: 2em;
  top: 11.2em;
  left: 0.46em;

  font-size: 2em;
  /*line-height: 58px; */
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.bird-modal-sound {
  position: relative;
  top: 22.4em;
  left: 11em;

  text-align: center;

  height: 2.75em;
  width: 2.75em;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.bird-modal-sound-icon {
  color: #ffffff;
  height: 100%;
  border: none;
  background: none;
}

.bird-modal-calendar {
  position: relative;
  top: 22.5em;
  left: 0.32em;

  text-align: center;

  height: 1em;
  width: 6em;
}

.bird-modal-calendar-text {
  position: relative;
  left: 3.5em;
  top: -1.4em;

  text-align: center;

  font-size: var(--smaller-text);

  height: 1em;
  width: 6em;
}

.bird-modal-calendar-icon {
  background: none;
}

.bird-modal-summary {
  height: 12em;
  width: 36.6em;

  overflow-y: auto;

  position: relative;
  top: 24em;
  left: 2.7em;

  line-height: 1.8em;
  text-align: left;
}

.bird-modal-learn {
  position: relative;
  left: 2.7em;
  top: 23em;

  background: #69b162;
  border: none;
  border-radius: 1.5em;
  letter-spacing: 0.065em;

  height: 2.7em;
  width: 13em;

  font-weight: 500;
  font-size: 1em;
  order: 3;
  color: #ffffff;
}

.bird-modal-learn:hover {
  background: #42703d;
}

.bird-modal-learn:active,
.bird-modal-learn:focus,
.bird-modal-learn:visited {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.material-icons-outlined.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons-outlined.md-48 {
  font-size: 48px;
}

.is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
